.container {
    position: relative;
    text-align: center;
} 

.container img{
    width: 100%;
}

.score{
    position: absolute;
    color: white;
    font-size: 40px;
    bottom: 20px;
    left: 20px;

    background: linear-gradient(to bottom, orange 50%, rgb(0, 0, 160) 50%);
    padding-left: 10px;
    padding-right: 10px;
    opacity: 90%;
    border-radius: 10%;

}

.score img {
    height: 50px;
    width: auto;
}


.stats{
    position: absolute;
    font-size: 20px;
    bottom: 20px;
    right: 40px;
    color: white;
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    opacity: 90%;
    border-radius: 5%;

}


.inning{
    position: relative;
    color: white;
    background-color: rgb(65, 64, 64);
    border-radius: 10%;
    padding-left: 5px;
    padding-right: 5px;
    margin: auto;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    
    border-bottom: 10px solid rgb(0, 0, 0);

    padding-top: 5px;
    margin: auto;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    
    border-top: 10px solid rgb(255, 255, 255);

    padding-bottom: 5px;
    margin: auto;
}